.form-box{
    border:1px solid #c1c1c1;
    color:#5cb55c;
}
/* carousel */
.carousel-item {
  height: 75vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.caption-item .carousel-caption {
    padding-bottom: 100px;
}

.caption-item .carousel-caption h2 {
    padding: .5em;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

/* Animation delays */
.carousel-caption h3:first-child {
    animation-delay: 1s;
}
.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}
.carousel-caption button {
    animation-delay: 3s;
}


/* logos */
.logo-1 {
  max-width: 200px; }
  @media (max-width: 767.98px) {
    .logo-1 {
      max-width: 150px; } }

/* Job Listings */
.job-listings {
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  background: #fff; }
  .job-listings .badge {
    color: #fff;
    padding: 4px 10px; }
     @media (max-width: 991.98px) {
    .job-listings .custom-width {
      width: 100% !important; } }
  .job-listings .job-listing {
    position: relative;
    border-bottom: 1px solid #eee;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .job-listings .job-listing:last-child {
      border-bottom: none; }
    .job-listings .job-listing a {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
      .job-listings .job-listing a:hover {
        border-left: 7px solid #89ba16; }
    .job-listings .job-listing .job-listing-logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
      flex: 0 0 150px;
      border-right: 1px solid #eee; }
      @media (max-width: 575.98px) {
        .job-listings .job-listing .job-listing-logo {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%; } }
  .job-listings .job-listing-position h2 {
    font-size: 1.2rem;
    margin-bottom: 0; }
  .job-listings .job-listing-position strong {
    color: #b3b3b3; }

 .site-section {
  padding-bottom: 7rem;
  position: relative;
  z-index: 2; }
  @media (max-width: 768px) {
    .site-section {
      padding-top: 3rem;
      padding-bottom: 3rem; } }
