{% extends 'base.html' %}
{% block title %}Create Medical Records{% endblock %}
{% load static %}
{% load is_already_applied %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'sidebar.html' %}
<div class="container py-3">
    <div class="row">
        <div class="mx-auto col-sm-9">
            {% is_already_applied request.user as is_applied %}
                {% if is_applied %}
                    <br/><br/><br/><br/>
                        <a href="{% url 'medical-record-list' %}">
                            <input type="button" class="btn btn-success" value="You Already Have A Medical Record, Click To View It"/>
                        </a>
                {% else %}
                    <!-- form user info -->
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0" style="text-align:center;">Fill Your Medical History</h4>
                        </div>
                        <div class="card-body">
                            <form class="form" method="POST" action="" enctype="multipart/form-data" role="form" autocomplete="off">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    {{ form|crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-group-vertical btn-sm btn-success" type="submit">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form user info -->
                {% endif %}
        </div>
    </div>
</div>

    </div>
</div>
{% endblock %}