{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="{% static 'img/small.png' %}" alt="">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>We Are Committed to Your Health</h1>
      <p>
        Doctors, dentists, hospitals and other health institutions, with EHealth, you can now start making moves online like a pro. Moreover,
        with a website, you can also offer online appointments,
        so they do not even need to pick up a phone and dial in your phone number.
        How convenient, indeed. Take action and share your services with all and everyone, thanks to a banging medical website.
      </p>
    </div>
  </section>

  <!-- Image Section - set the background image for the header in the line below -->
  <section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </section>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>The Science Of Feeling Better</h1>
      <p class="lead">
        LongLife is a complete and exclusive solution for all your medical projects. Out of the box, you can build a clinic,
        ophthalmology, pediatrician and pharmacy website, but the options go way beyond that.
        The mentioned are four different demos which you can modify to your likings with the use of drag and drop page building system.
      </p>
      <p>
        With this in mind, you can even create custom layouts, which will differentiate you from the masses.
        Nowadays, one tool is all it is necessary
        to start a solid online presence which will help you take your medical business to new heights
      </p>
    </div>
  </section>


{% endblock %}