{% extends 'base.html' %}
{% block title %}Practitioners Register{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'sidebar.html' %}
            <center>
                <div class="content-section col-md-4">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                           <h3 class="heading">New account</h3>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-danger" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <p class="message" style="text-align: center; color: #00ABF0;">Already Registered? <a href="{% url 'login' %}" style="color:#E61C29;">Login</a></p>
                        </small>
                    </div>
                </div>
            </center>

 </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
{% endblock content %}